<div class='header section1'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm text-center'>
        <h1>web<span class='colorlogo'>scan</span></h1>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-3 text-center'>
      </div>
      <div class='col-sm-6 text-center'>
        <hr class='hr-grey'>
        <h4>What websites automatically redirect to HTTPS?</h4>
      </div>
      <div class='col-sm-3 text-center'>
      </div>
    </div>
  </div>
</div>
<div class='section2'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm'>
        <br>
        <%= render 'domains/list' %>
      </div>
    </div>
  </div>
</div>
